@import url(//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amazon Ember";
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
}

main {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0px,
      rgba(0, 0, 0, 0) 300px,
      rgba(234, 237, 237, 1) 500px
    ),
    url("../assets/img/header.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

main p {
  font-size: 1.3em;
  font-weight: 700;
  transform: scaleY(0.95);
}

button {
  cursor: pointer;
}

.menu nav {
  background-color: #131921;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 0.8em;
}

.menu nav div {
  display: flex;
  align-items: stretch;
}

.menu nav > div {
  padding: 0 18px;
}

.menu-text {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.menu-text > div:first-child {
  font-size: 00.9em;
}

#logo img {
  height: 40px;
}

#logo div {
  margin-top: 8px;
}

#select-address img {
  margin-top: 10px;
  margin-right: 3px;
  height: 20px;
}

#search-bar {
  padding: 10px;
  height: 100%;
  color: #000;
  flex-grow: 2;
}

#search-bar input {
  border: none;
  width: 100%;
}

#search-bar div.search-btn {
  align-items: center;
  padding: 20px;
}

#search-bar div.left-btn {
  background-color: #f3f3f3;
  border-radius: 5px 0 0 5px;
}

#search-bar div.left-btn i {
  margin-left: 4px;
}

#search-bar div.right-btn {
  background-color: #febd69;
  border-radius: 0 5px 5px 0;
  font-size: 1.7em;
}

#select-country img {
  height: 18px;
}

#select-country i {
  font-size: 0.8em;
  margin-top: 5px;
  margin-left: 2px;
}

#sign-in-menu i {
  margin-left: 3px;
  margin-top: 3px;
}

#shopping-cart {
  background-image: url("../assets/img/cart.png");
  background-repeat: no-repeat;
  background-size: 40px;
}

#shopping-cart > div:first-child {
  margin-left: 2px;
}

#shopping-cart > div:last-child {
  margin-left: 22px;
}

.main-nav {
  background-color: #232f3e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  padding: 3px 18px;
  height: 40px;
}

.main-nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.main-nav a i {
  margin: 0 6px;
}

.main-nav p {
  font-size: 1.4em;
  display: flex;
  align-items: center;
}

.img-carousel {
  height: 250px;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0 9px;
}

.card {
  flex: 1 0 calc(25% - 18px);
  background-color: #fff;
  padding: 18px;
  margin: 0 9px 18px 9px;
  display: flex;
  flex-direction: column;
}

.card p {
  margin-bottom: 12px;
  flex: 0 1 auto;
}

.card img {
  max-width: 100%;
  margin-bottom: 10px;
  flex: 1 1 auto;
  object-fit: cover;
  object-position: center;
}

.card a {
  font-size: 0.8em;
  font-weight: 600;
  text-decoration: none;
  color: #5ea5b2;
  flex: 0 1 auto;
}

.double-card {
  flex: 1 0 calc(25% - 18px);
  margin: 0 9px;
  display: flex;
  flex-direction: column;
}

.register-card {
  background-color: #fff;
  padding: 18px;
  margin-bottom: 18px;
  flex-grow: 1;
}

.register-card p {
  margin-bottom: 18px;
}

.register-btn {
  font-family: "Amazon Ember";
  background-color: #ffd814;
  border: 1px solid #ffd814;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  width: 100%;
  padding: 6px;
}

.sponsor-card {
  background-color: #fff;
  font-size: 0.9em;
  margin: auto;
  padding: 0 9px 15px 9px;
  width: 85%;
  border: 1px solid #ddd;
}

.sponsor-card img {
  display: block;
  margin: auto;
  width: 55%;
}

.sponsor-card img.prime-img {
  margin: 5px auto 0 0;
  width: 45px;
}

.sponsor-price-info {
  font-size: 0.8em;
  color: #888;
}

.sponsor-card button {
  background: linear-gradient(rgb(254, 222, 151), rgb(236, 178, 31))
    rgb(254, 222, 151);
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(169, 133, 39) rgb(145, 114, 33) rgb(134, 105, 31);
  border-radius: 3px;
  height: 24px;
  padding: 0px 10px 0px 11px;
  width: 109px;
  text-align: center;
  font-size: 0.7em;
}

.sponsor-btn {
  margin-top: auto;
}

.sponsor-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sponsor-label {
  margin: auto;
  width: 85%;
  height: 18px;
  font-size: 0.7em;
  color: #888;
  text-align: right;
}

.multi-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 auto;
}

.multi-imgs div {
  flex: 1 0 calc(50% - 18px);
}

.multi-imgs div:nth-child(even) {
  margin-left: 18px;
}

.multi-imgs img {
  margin-bottom: 0;
}

.multi-imgs div.multi-img-info {
  font-size: 0.75em;
  margin: 0 0 20px 0;
}

.donate-section {
  background-color: #37475a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}

.donate-section img {
  padding: 10px;
  height: 40px;
}

.text-grey {
  color: #ccc;
}

.text-orange {
  color: #f07815;
}
